body{
    background-color: lightpink;
}
#case_study
{
    color: deeppink;
    text-shadow: 2px 4px dodgerblue;
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
label{
    font-family: cursive;
    font-size: 30px;
    color: blueviolet;


}
h4
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: indigo;
}
img{
    width: 70px;
    height: 80px;
}

#case_img
{
    border-radius: 45px;
    width: 100px;
    height: 80px;
}